{% extends "questions_base.html" %}

{% block content %}
        <script>
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');
        console.log(csrftoken)

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        $(window).on('load', function() {
         $(".js-ajax-link").hover(function(el){


            $.post('http://127.0.0.1:8000/questions/ajax/count/', {'item_id': $(el.currentTarget).attr('itemid')}, function(response) {
                alert(response.tags);
            });
         })
        });


        </script>

    {% for q in object_list %}
        <p> <a class='js-ajax-link' itemid="{{ q.id }}" href="{% url 'questions_detail' question_id=q.id %}">{{ q }}</a> </p>
    {% endfor %}

    <p> total: {{ object_list|length }} </p>

        {% if is_paginated %}
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}"><-</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">-></a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% endblock content %}

