{% extends "questions_base.html" %}

{%  block js %}
    {% load static %}

    <script src="{% static "questions/js/pushstream.js" %}" type="text/javascript" language="javascript" charset="utf-8"></script>
    <script type="text/javascript" language="javascript" charset="utf-8">
    var socket = new WebSocket('ws://controller.sdemidenko.notkube.dev.ivi.ru:8888/listen/tp_test_01');
    socket.onopen = function(event) {
        console.log('ws opened');
        var data = JSON.stringify({ message: "Hello WebSocket" });
        socket.send(data);
    };
    socket.onmessage = function(event) {
        var resp = JSON.parse(event.data);
        console.log('ws message', resp.msg);
    };
    socket.onclose = function(event) {
        console.log('ws closed')
    };
    </script>

{% endblock %}


{% block content %}
    {% for q in object_list %}
        <p> <a href="{% url 'questions_detail' question_id=q.id %}">{{ q }}</a> </p>
    {% endfor %}

    <p> total: {{ object_list|length }} </p>

        {% if is_paginated %}
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}"><-</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">-></a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% endblock content %}

