<!DOCTYPE html>
<html>
    <head>
        {% block header %}
            {% block style %}
                <style>
                    html, body {
                        height: 100%;
                        color: burlywood;
                    }

                    html {
                        display: table;
                        margin: auto;
                    }

                    body {
                        display: table-cell;
                        vertical-align: middle;
                    }
                </style>
            {% endblock style %}

            {% block js %}
                <script
			        src="https://code.jquery.com/jquery-3.4.1.min.js"
			        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
			        crossorigin="anonymous">
                </script>
            {% endblock js %}
        {% endblock header %}
    </head>

    <body>
        {% block title %}
            <h3> Hello, my little Architect </h3>
        {% endblock title %}

        {% block content %}
        {% endblock content %}
    </body>
</html>

