{% extends "questions_base.html" %}

{% block js %}
  <script>
  $(function () {
      var ws_path = window.location.pathname + "events/";
      console.log("Connecting to " + ws_path);
      var webSocketBridge = new channels.WebSocketBridge();
      webSocketBridge.connect(ws_path);
      webSocketBridge.listen(function (data) {
          alert("Wow! New question " + data["title"] + " by " + data["author"])
      });

  // Помощь в отладке
  webSocketBridge.socket.onopen = function() { console.log("Connected to notification socket"); };
  webSocketBridge.socket.onclose = function() { console.log("Disconnected to notification socket"); };
  })
  </script>
{% endblock js %}

{% block content %}
    {% for q in questions %}
        <p> {{ q }} </p>
    {% endfor %}

    <p> total: {{ questions|length }} </p>

    <div class="pagination">
        <span class="step-links">
            {% if questions.has_previous %}
                <a href="?page={{ questions.previous_page_number }}"><-</a>
            {% endif %}

            <span class="current">
                Page {{ questions.number }} of {{ questions.paginator.num_pages }}
            </span>

            {% if questions.has_next %}
                <a href="?page={{ questions.next_page_number }}">-></a>
            {% endif %}
        </span>
    </div>
{% endblock content %}

